<section class="form">
  <%= simple_form_for @post do |f| %>

    <% if @post.errors.any? %>
      <div class="errors">
        <% @post.errors.full_messages.each do |message|  %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </div>
    <% end %>

      <h2>Edit post</h2>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
    <p class="hint">
      Keep it short and juicy
    </p>

    <%= f.label :body %>
    <%= f.text_area :body, :required => true %>
    <p class="hint">
    Ain't nobody has time for that
    </p>

    <%= f.label :image, "Choose a new image"%>
    <%= f.file_field :image %>
    <p class="hint">
    If you don't have a new one, the oldie remains
    </p>


    <%= f.button :submit, class:"button-primary" %>
  <% end %>
</section>
