<!DOCTYPE html>
<html>
  <head>
    <title>Noto</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'noto_favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <%= image_tag "noto.svg", class:"logo" %>
      <% end %>
      <p>
        <%= link_to "New post", new_post_path, class: "new-post-link"%>
      </p>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
